[submodule "kicad/lib/kbd"]
	path = kicad/lib/kbd
	url = ../../foostan/kbd
[submodule "kicad/lib/kleeb"]
	path = kicad/lib/kleeb
	url = ../../crides/kleeb
[submodule "kicad/lib/Keebio-Parts.pretty"]
	path = kicad/lib/Keebio-Parts.pretty
	url = ../../keebio/Keebio-Parts.pretty
[submodule "kicad/lib/0xCB-libs"]
	path = kicad/lib/0xCB-libs
	url = ../../0xCB-dev/0xCB-libs.git
[submodule "kicad/lib/DCS_keycaps"]
	path = kicad/lib/DCS_keycaps
	url = ../../Fooblitzky/DCS_keycaps.git
